<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>My career began in the vibrant landscapes of Colorado, where I started from cleaning cars and worked to sales management, accumulating 15 years of experiences in the automotive industry. This chapter honed my adaptability, leadership, and problem-solving skills, preparing me for my next adventure. Seeking personal growth, I embraced the challenge of living abroad, immersing myself in Japanese culture, and studying the language. This transformative experience fueled my desire for continuous learning and led me to pivot into technology. Having completed an intensive coding boot camp in Tokyo, I am now an aspiring full-stack developer eager to blend my varied background with a newfound passion for web development. My goal is to contribute to innovative projects where I can make a meaningful impact, leveraging my unique perspective and technical skills in dynamic environments around the world.
        </p>
      </div>
      <div id ="tech-stack">
      <h2>Tech Skills</h2>
        <ul>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>Front-End JS</li>
          <li>SQL</li>
          <li>Git/Github</li>
          <li>Terminal Commands</li>
          <li>JSON</li>
        </ul>
    </div>
  </div>
</div>
